.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
build
target
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
src/gen
src/main/resources/vertx-js/*.js
src/test/resources/vertx-js/*.js
.vertx
*.pyc
.metadata/*
.recommenders/*
.vscode
