<!DOCTYPE html>
<html lang="en">
	@include{'./tiles/head.html.templ'}
	<body>
		<h3>Erreur 404 : The page you are looking for does not exist</h3>
		<p>The site is being developed.</p>
	</body>
</html>