<!DOCTYPE html>
<html lang="en">
	@include{'./tiles/head.html.templ'}
	<body>
		<h3>An unexpected error occurred [<strong>@{get('statusCode')}<strong>]</h3>
		<p>The requested resource is inaccessible.</p>
	</body>
</html>