<!DOCTYPE html>
<html lang="fr">
	@include{'./tiles/head.html.templ'}
	
<body>
	<h2>Welcome page</h2>
	<p>the mountain is beautiful - Jean Ferrat's song</p>
	<p>Click on this <a href="page2.html">link</a> to access to page2.</p>
	<img src="/images/gavarnie.jpg" width="1024px" height="669px" />
	<p>Do you like to ?</p>
	
	<p>up time: <strong>@{get('upTime')}</strong></p>
</body>
</html>